{% extends "admin/base.html" %}
{% block title %}Confirmar para Eliminar {% endblock title %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Demo-GeoDjango</a></h1>
{% endblock branding %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'geolocation:register_poly' %}">Registrar ZipCode</a>/
    <a href="{% url 'geolocation:list_zipcode' %}">Listar ZipCode</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        <p>Estas seguro que lo quieres eliminar "{{ object }}"?</p>
        <input type="submit" value="Confirmar"/>
    </form>
{% endblock content %}